/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
    font-family: MuliBold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: MuliExtraBold;
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: MuliExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: MuliRegular;
    src: url(../assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: MuliItalic;
    src: url(../assets/fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: MuliSemiBoldItalic;
    src: url(../assets/fonts/Muli-SemiBoldItalic.ttf);
}

/* Общие стили */
html,
body {

}

a {
    text-decoration: none;
}

/* Header */

.header {
    background-image: url('../imаgеs/header-bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 100px 105px 100px;
}

.header__menu {
    border: 1px solid red;
}

.menu__list {
    display: flex;
    border: 1px solid red;
}

.menu__item {
    list-style-type: none;
    border: 1px solid red;
    font-family: "MuliBold";
    font-size: 16px;
    margin-right: 30px;
}

.menu__item:nth-child(6n) {
    margin-right: 0;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

.menu__link:hover {
    font-size: 20px;
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;

}

.header__logo {
    border: 2px solid red;
    width: 210px;
    height: 72px;
}

.personal__list {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
}

.header__personal {
    position: relative;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    right: -95px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.personal__list-item {
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal__list-item:last-child {
    margin-right: 0;
}

.personal__link {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.personal__cart-count {
    font-family: "MuliRegular";
    font-size: 10px;
    color: #000;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: 150px;
}

.social__list-item {
    margin-right: 10px;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
}

.social__list-item:last-child {
    margin-right: 0;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 280px;
    height: 70px;
    font-size: 24px;
    padding-right: 40px;
    padding-left: 40px;
}


.btn--green {
    background-color: #0aa566;
    position: relative;
}

.btn--green:hover {
    background-color: #0d724a;
    font-size: 30px;
}

.btn--green:hover::after {
    right: 28px;
}

.btn--green::after,
.btn--border-yellow::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 30px;
    background-image: url(../imаgеs/Arrow.png);
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btn {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "MuliExtraBold";
    border-radius:35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    -ms-border-radius:35px;
    -o-border-radius:35px;
}

/* Smoothies */

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 110px;
}

.smoothies__text {
    width: 915px;
    border: 1px solid red;
}

.smoothies__title {
    font-size: 50px;
    color: #f7ae3b;
    line-height: 40px;
}

.title {
    font-family: "MuliExtraBold";
}

.smoothies__text {
    width: 915px;
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 60px;
    color: #1e1e1e;
}

.smoothies__features {
    width: 1010px;
    height: 390px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #f6edde;
    grid-gap: 2px;
}

.smoothies__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.smoothies__feature-title {
    color: #f2612d;
    font-family: "MuliExtraBold";
    font-size: 25px;
    margin-top: 25px;
}

/* About */

.about {
    background-color: #14826f;
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}

.about__img {
    margin-top: 65px;
    width: 690px;
    height: 820px;
    z-index: 1;
}

.about__title {
    font-family: "MuliExtraBold";
    font-size: 55px;
    color: #ffffff;
    line-height: 60px;
    width: 620px;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
}

.title--yellow {
    color: #cae941;
}

.title--yellow::after {
    content: "";
    background-image: url(../imаgеs/Line.png);
    width: 450px;
    height: 13px;
    position: absolute;
    top: 220px;
    left: 70px;
}

.about__list-item {
    font-family: "MuliRegular";
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    list-style-image: url(../imаgеs/list-style.png);
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 25px;
}

.about__text--bold {
    font-family: "MuliExtraBold";
    color: #fff;
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    padding-left: 30px;
    padding-right: 40px;
    background-color: transparent;
    margin-bottom: 95px;
    margin-top: 50px;
}

.btn--border-yellow {
    border: 2px #f8b231 solid;
}

/* Products */

.products {
    display: flex;
}

.product__item {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__item--chocolate {
    background-color: #632b17;
}

.product__item--vegan {
    background-color: #178670;
}

.product__item--lemon {
    background-color: #f7ae3b;
}

.product__item--turmeric {
    background-color: #c3471b;
}

.product__img {
    width: 120px;
    height: 300px;
    margin-top: 130px;
}

.product__name {
    font-family: "MuliBold";
    font-size: 24px;
    line-height: 22px;
    color: #fff;
    padding-top: 35px;
}

.product__capacity {
    font-family: " MuliItalic";
    font-size: 20px;
    line-height: 32px;
    color: #fff; 
}

.product-btn {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    margin-bottom: 80px;
    margin-top: 65px;
}

.btn--border-white {
    border: 2px #fff solid;
} 

/* Story */

.story {
    display: flex;
    justify-content: space-evenly;
    
}

.story__title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    line-height: 40px;
    color: #f7ae3b;
    padding-top: 260px;
    padding-bottom: 45px;
}

.story__text {
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
    width: 510px;
}

.story__img {
    position: relative; 
}

.story__img--stamp {
    margin-top: 120px;
    margin-bottom: 160px;
}

.story__img::before {
    content: "";
    background-image: url(../imаgеs/Stamp.png);
    width: 290px;
    height: 220px;
    position: absolute;
    top: 140px;
    left: -160px;
    z-index: 1;
}

.story__btn {
    width: 300px;
    height: 60px;
    padding-left: 30px;
    padding-right: 40px;
    font-size: 21px;
    line-height: 22px;
    margin-top: 60px;
    margin-bottom: 315px;
}

/* Testimonials */

.testimonials {
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.testimonials__title {
    color: #f7ae3b;
    font-size: 50px;
    line-height: 40px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.testimonials__title::after {
    content: "";
    background-image: url(../imаgеs/Dots.png);
    width: 410px;
    height: 300px;
    position: absolute;
    right: 60px;
    top: -80px;
}

.testimonials__title--red {
    color: #f2612d;
}

.testimonials__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.testimonials__feedback {
    width: 460px;
    padding-top: 65px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

.testimonials__feedback::before {
    content: "Sarah A";
    font-family: "MuliExtraBold";
    font-size: 200px;
    line-height: 40px;
    color: rgba(82, 25, 5, 0.6);
    width: 770px;
    height: 150px;
    position: absolute;
    letter-spacing: -4px;
    left: -160px;
    top: 15px;
}

.testimonials__text {
    color: #fff;
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
    z-index: 1;
}

.testimonials__img {
    padding-bottom: 220px;
    z-index: 1;
}

.text--yellow {
    font-family: "MuliSemiBoldItalic";
    font-size: 18px;
    line-height: 45px;
    color: #f7ae3b;
}

.testimonials__arrows {
    margin-bottom: 80px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.testimonials__btn {
    width: 30px;
    background-color: transparent;
}

.arrow--left {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* Blog */

.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 360px;
}

.blog__title {
    color: #f7ae3b;
    font-size: 50px;
    padding-top: 130px;
}

.blog__img {
    width: 555px;
    height: 400px;
}

.blog__post {
    position: relative;
}

.blog__post-title {
    font-family: "MuliExtraBold";
    font-size: 30px;
    line-height: 40px;
    color: #f2612d;
    margin-top: 130px;
}

.blog__post-title::before {
    content: "";
    background-color: #f7ae3b;
    width: 690px;
    height: 15px;
    left: -10px;
    position: absolute;
    top: 60px;
    z-index: -1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.blog__time {
    font-family: "MuliRegular";
    font-size: 16px;
    color: #1e1e1e;
    line-height: 35px;
}

.blog__text {
    width: 480px;
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
    margin: 30px 0 0 60px;
}

.blog__link {
    font-family: "MuliExtraBoldItalic";
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.blog__arrow {
    width: 18px;
}

.blog__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 200px;
}

.blog__post {
    padding-left: 60px;
}



/* Instagram */

.instagram {
    position: relative;
}

.instagram__link {
    font-family: "MuliExtraBold";
    font-size: 24px;
    color: #0aa566;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.instagram__logo {
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.instagram__galary {
    width: 20%;
    position: relative;
    margin-bottom: 10px;
    display: flex;
}

.instagram__link-bg::after {
    content: "";
    display: block;
    background-image: url(../imаgеs/Instagram.png);
    width: 26px;
    height: 26px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 1;
}

/* Footer */

.footer {
    background-color: #f6ab3b;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.footer__logo {
    width: 210px;
    padding-top: 130px;
    padding-right: 300px;
}

.footer__title {
    font-family: "MuliExtraBold";
    font-size: 26px;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 35px;
}

.footer__bottom {
    background-color: #6c2c1c;
}

.footer__item-link {
    font-family: "MuliBold";
    font-size: 18px;
    line-height: 35px;
    color: #6d450c;
}

.footer__list-item {
    list-style-type: none;
}

.footer__payments {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__payment {
    padding-bottom: 30px;
    padding-right: 20px;
}

.footer__dont-miss-out {
    position: relative;
}

.footer__input {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: "MuliBold";
    font-size: 17px;
    color: #6d450c;
    padding: 25px 220px 25px 65px;
    border-style: none;
    background-image: url(../imаgеs/Icon-envelope.png);
    background-repeat: no-repeat;
    background-position: top 50% left 20px;
}

.footer__follow {
    display: flex;
    padding-top: 30px;
    padding-bottom: 130px;
    padding-left: 185px;
    align-items: center;
    position: relative;
}

.footer__follow-link {
    font-family: "MuliExtraBold";
    font-size: 18px;
    line-height: 40px;
    color: #6d450c;
    padding-right: 45px;
}

.footer__follow-link::before {
    content: "";
    background-image: url(../imаgеs/Arrow-footer.png);
    width: 48px;
    height: 43px;
    position: absolute;
    top: 20px;
    right: 325px;
}

.footer__social-link {
    padding-right: 25px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    height: 60px;
}

.footer__copyright {
    font-family: "MuliRegular";
    font-size: 13px;
    line-height: 35px;
    color: #af8a82;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__label {
    font-family: "MuliBold";
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
}

.arrow--white-top {
    background-color: transparent;
}

.footer__bottom {
    position: relative;
}

.footer__btn-to-top {
    width: 50px;
    height: 50px;
    background-color: #f2662f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: absolute;
    top: -35px;
    left: 60px;
}


.footer__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 145px;
}

.arrow--white-top {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

/* Здесь будут медиа запросы */





