/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
    font-family: MuliBold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: MuliExtraBold;
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: MuliExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: MuliRegular;
    src: url(../assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: MuliItalic;
    src: url(../assets/fonts/Muli-Italic.ttf);
}

/* Общие стили */
html,
body {

}

a {
    text-decoration: none;
}

/* Header */

.header {
    background-image: url('../imаgеs/header-bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 100px 105px 100px;
}

.header__menu {
    border: 1px solid red;
}

.menu__list {
    display: flex;
    border: 1px solid red;
}

.menu__item {
    list-style-type: none;
    border: 1px solid red;
    font-family: "MuliBold";
    font-size: 16px;
    margin-right: 30px;
}

.menu__item:nth-child(6n) {
margin-right: 0
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    border: 2px solid red;
    width: 210px;
    height: 72px;
}

.personal__list {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
}

.header__personal {
    margin-right: 135px;
    
}

.personal__list-item {
    margin-right: 45px;
    display: flex;
}

.personal__list-item:nth-child(3n) {
    margin-right: 0
}

.personal__link {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.personal__cart-count {
    font-family: "MuliRegular";
    font-size: 10px;
    color: #000;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list-item {
    margin-right: 10px;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
}

.social__list-item:nth-child(3n) {
    margin-right: 0
}

.header__btn {
    width: 280px;
    height: 70px;
    font-size: 24px;
    padding-right: 40px;
    padding-left: 40px;
}

.btn--green {
    background-color: #0aa566;
}

.btn {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "MuliExtraBold";
    border-radius:35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    -ms-border-radius:35px;
    -o-border-radius:35px;
}

/* Smoothies */

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 110px;
}

.smoothies__text {
    width: 915px;
    border: 1px solid red;
}

.smoothies__title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    color: #f7ae3b;
    line-height: 40px;
}

.smoothies__text {
    width: 915px;
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 60px;
}

.title {

}

.smoothies__features {
    width: 1010px;
    height: 390px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #f6edde;
    grid-gap: 2px;

}

.smoothies__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.smoothies__feature-title {
    color: #f2612d;
    font-family: "MuliExtraBold";
    font-size: 25px;
    margin-top: 25px;
}

/* About */

.about {
    background-color: #14826f;
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}

.about__img {
    margin-top: 65px;
    width: 690px;
    height: 820px;
    z-index: 1;
}

.about__title {
    font-family: "MuliExtraBold";
    font-size: 55px;
    color: #ffffff;
    line-height: 60px;
    width: 590px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.title--yellow {
    color: #cae941;
}

.about__list-item {
    font-family: "MuliRegular";
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    list-style-image: url(../imаgеs/list-style.png);
}

.about__text--bold {
    font-family: "MuliBold";
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    padding-left: 30px;
    padding-right: 40px;
    background-color: transparent;
    margin-bottom: 95px;
    margin-top: 55px;
}

.btn--border-yellow {
    border: 2px #f8b231 solid;
}

/* Products */

.products {
    display: flex;

}
    
.product__item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product__item--chocolate {
    background-color: #632b17;
}

.product__item--vegan {
    background-color: #178670;
}

.product__item--lemon {
    background-color: #f7ae3b;
}

.product__item--turmeric {
    background-color: #c3471b;
}

.product__img {
    width: 120px;
    height: 300px;
    margin-top: 130px;
}

.product__name {
    font-family: "MuliBold";
    font-size: 24px;
    line-height: 22px;
    color: #fff;
    padding-top: 35px;
}

.product__capacity {
    font-family: " MuliItalic";
    font-size: 20px;
    line-height: 32px;
    color: #fff; 
}

.product-btn {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    margin-bottom: 80px;
    margin-top: 65px;
}

.btn--border-white {
    border: 2px #fff solid;
} 


/* Story */

.story {
    display: flex;
    justify-content: space-evenly;
}

.story__title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    line-height: 40px;
    color: #f7ae3b;
    padding-top: 260px;
    padding-bottom: 45px;
}

.story__text {
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
    width: 510px;

}

.story__img {
    margin-top: 120px;
    margin-bottom: 160px;
}

.header__btn {
    width: 280px;
    height: 70px;
    font-size: 24px;
    border-radius:35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    -ms-border-radius:35px;
    -o-border-radius:35px;
    padding-right: 40px;
    padding-left: 40px;
}

.story__btn {
    width: 300px;
    height: 60px;
    padding-left: 30px;
    padding-right: 40px;
    font-size: 21px;
    line-height: 22px;
    margin-top: 60px;
    margin-bottom: 315px;

}

/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */





