// main: ./../main.less

.social__list-item {
    margin-right: 10px;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
}

.social__list-item:last-child {
    margin-right: 0;
}